body, #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

.first-container{
    background-image: url(/src/img/03.png) ;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    width: 100%;
    
}

h1 {
    font-size: 24px;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
   h2 {
    font-size: 20px;
    margin-bottom: 2rem;
    color: #555;
}
.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 70vh;
    width: 70%;  
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);


}




.cadastro-box-left{


    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 1) 0%,
    rgba(134, 134, 134, 0.5) 50%,
   rgba(5, 5, 5, 0.2) 100%
  );
    min-height: 70vh;
    width: 30%; 
    border-radius: 25px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
    padding: 35px;
     
}

.cadastro-box-rigt{


    min-height: 70vh;
    width: 70%; 
    border-radius: 0px 25px 25px 0px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    margin: 20px;
    border: none;
    outline: none;

    border-radius: 15px;
    font-size: 16px;
    background-color: rgba(228, 228, 228, 0.788)
    

  }

  ::placeholder {
    text-align: center;
    color: #3d3d3d;
    font-weight: lighter;
    font-size: 17px;
  }

  .entrar-btn {
    width: 70%;
    padding: 12px;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 30px;
    margin-left: 69px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .entrar-btn:hover {
    background-color: #0c0c0c;
  }

  .login{
    width: 70%;
    padding: 12px;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
  }

  .login:hover {
    background-color: #0c0c0c;
  }
