 .calendar-container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    margin: 30px 20px 0px 320px;
    gap: 40px;
    
 }
 .add-task-button{
    background-color: rgb(120, 120, 120);
    border: 0px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
 }

 .caleTitle{
    display: flex;
     justify-content: center;
     gap: 70px;
     align-items: center;
 }

   .react-calendar {
    width: 100%;
    max-width: 600px;
    background: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
  }



 .tasks-list{
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    background-color: rgb(159, 159, 159);
    width: 140%;
    height: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

 }

 

 .task-details{
    background-color: white;
    flex-direction: row;
    display: flex;
     justify-content: center;
    gap: 20px;
    border-radius: 20px;
    
 }