/* Estilos gerais do container principal do dashboard */
.dashboard-container {
    display: flex; /* Exibe elementos em linha (sidebar + conteúdo principal) */
    height: 100vh; /* Altura total da tela */
    font-family: sans-serif; /* Define a fonte padrão */
    
  }

  .logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  
  /* Estilo da parte destacada do logo */
  .logo span {
    color: #ccc; /* Cinza claro */
  }